* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-brand i {
  color: green;
  font-size: 3rem;
}

.navbar-brand span {
  font-size: 2.2rem;
}

.navbar-nav .nav-item {
  margin: 0rem 0.625rem;
}

.navbar-nav .nav-item.active .nav-navbar {
  color: rgb(2, 155, 2);
  font-weight: 500;
}

.navbar-nav .nav-item .nav-navbar{
  color: white;
  font-weight: 400;
}

.navbar-nav .nav-item::after {
  content: "";
  width: 0;
  display: block;
  height: 5px;
  background-color: green;
  transition: all 0.5s;
}

.navbar-nav .nav-item.active::after {
  content: "";
  width: 100%;
}

.navbar-nav .nav-item:hover::after {
  width: 100%;
}

.carousel-item {
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.carousel-item:nth-child(1) {
  background-image: url(../image/finland.jpg);
}

.carousel-item:nth-child(2) {
  background-image: url(../image/mountains.jpg);
}

.carousel-item:nth-child(3) {
  background-image: url(../image/mountains-1.jpg);
}

.img_thumb {
  width: 9.375rem;
  margin: auto;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-indicators li {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.project__title h1 {
  margin-top: 3rem;
  padding-top: 3rem;
  font-size: 2.2rem;
  font-weight: 700;
}
.project__title p{
  margin: 1.5rem 0;
  color: #585858;

}
.nav-pills {
  display: flex;
  justify-content: center;
  margin: 0.3rem 0;
}
.nav-item .nav-navitem{
  border: 1px solid black;
  margin-right: 0.5rem;
  border-radius: 0.25rem ;
  color: #585858;
}
.nav-item .nav-navitem.active{
  background-color:#35a22c;
  color: white;
  border-color:#35a22c;
}
.col-4{
  margin: 1.3rem 0;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.card{
  border-radius: 20px;
  box-shadow: 0px 0px 5px 1px #bbbaba ;
  text-align: center;
}
.card:hover{
  border-color:#35a22c;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card:hover .card-body h4{
  color:#35a22c ;
}
.card:hover .card-img-top{
  box-shadow: 0px 0px 5px 1px #bbbaba ;
}
.card .card-img-top{
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  width: 100%;
}

.card .card-body{
  text-align: center;
  padding-bottom: 2rem;
  margin-bottom: 10px;
  transition: all 0.5s;
}
.card-body h4{
  font-size: 1.2rem;
}
.card-body p{
  color: #585858;
}

#job_concept{

}
.row2{
  display: flex;
}